<br></br>
<h1><%= "#{@user.email} Posts" %></h1>


<% if (current_user.id == @user.id) %>
<table>
  <tr>
   <td><%= form_for(current_user.posts.build()) do |f| %>
      <div><%= f.label :"What's on your mind?" %>
      <%= f.text_field :content %></div>
   </td>
   <td>
      <%= f.submit "Post"%>
      <% end %>
   </td>
  </tr>
</table>
<% end %>

<br></br>

<table>
 <% @posts.each do |post| %>
  <tr>
   <td><%= post.content %></td>
   <td><%= link_to "Delete", "/posts/#{post.id}", :method => 'delete'%>
   </td>
  </tr>
 <% end %>
</table>

<br></br>



